/* line 5, ../sass/style_header.scss */
header {
  z-index: 999;
  background: #ffffff;
  opacity: 0.95;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px 1em 0px 1em;
  -moz-box-shadow: 2px 0px 5px #bcbcbc;
  -webkit-box-shadow: 2px 0px 5px #bcbcbc;
  box-shadow: 2px 0px 5px #bcbcbc;
}
/* line 17, ../sass/style_header.scss */
header nav {
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: justify;
  -moz-box-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  width: 80%;
  margin: 0px 5% 0px 5%;
  height: 50px;
}
/* line 41, ../sass/style_header.scss */
header nav .nav_titre {
  font-family: 'Nova Round', cursive;
  font-size: 1.8em;
}
/* line 44, ../sass/style_header.scss */
header nav .nav_titre a {
  text-decoration: none;
  color: #01737e;
}
/* line 47, ../sass/style_header.scss */
header nav .nav_titre a:hover {
  opacity: 0.5;
}
/* line 52, ../sass/style_header.scss */
header nav ul {
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: justify;
  -moz-box-align: start;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-box-align: start;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -ms-flex-align: start;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -webkit-align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 75, ../sass/style_header.scss */
header nav ul li a {
  text-decoration: none;
  color: #01737e;
}
/* line 78, ../sass/style_header.scss */
header nav ul li a:hover {
  opacity: 0.5;
}

/* line 86, ../sass/style_header.scss */
#header_blank {
  height: 50px;
}
